  <div class="box">
    <h3 class="yellow"><%= t :sidemenu %></h3>

    <div class="box-container">
        <ul class="list-links">
            <li><%= link_to t(:add_page),new_admin_page_path %></li>
            <li><%= link_to t(:list_pages),admin_pages_path %></li>

        </ul>
    </div>
 </div>
