  <div class="box">
    <h3 class="yellow"><%= t :sidemenu %></h3>

    <div class="box-container">
        <ul class="list-links">
            <li><%= link_to t(:add_article),new_admin_article_path+"&k=articles" %></li>
            <li><%= link_to t(:list_articles),admin_articles_path %></li>

        </ul>
    </div>
 </div>
