  <div class="box">
    <h3 class="yellow"><%= t :sidemenu %></h3>

    <div class="box-container">
        <ul class="list-links">
            <li><%= link_to t('add_'+@kind),new_admin_article_path+"&k="+@kind %></li>
            <li><%= link_to t('list_'+@kind.pluralize),admin_articles_path+"&k="+@kind %></li>

        </ul>
    </div>
 </div>
