<div class="float-left width-three-quaters border-right">
  <%= render :partial=>@article %>
</div>
<div id="sidebar">
  <h2><%= t :hot_articles %></h2>
  <%= render :partial=>'articles/article_url',:collection=>@hot_articles,:as=>:article %>
</div>
