<ul class="topnav">

  <li><%= link_to 'News',admin_articles_path+"&k=news" %></li>
  <li><%= link_to 'Bulletins',new_admin_article_path+"&k=bulletin" %></li>
  <li><%= link_to 'Articles',new_admin_article_path+"&k=article" %></li>

  <li><%= link_to 'Pages',new_admin_article_path+"&k=page" %></li>


</ul>
