<ul>
  <li>Home</li>
  <li><li><%= link_to 'Studies' %></li></li>
    <ul id="studies" class="hidden">
	  <li><%= link_to 'directions' %></li>
	  <li>Core Member</li>
	  <li>Conditions</li>
	  <li>Projects</li>
	  <li>Achievement</li>
    </ul>
  <li>Communications</li>
  <li>Funding</li>
  <li>Circumstances and Life</li>
  <li>About Us</li>
    <ul  id="about" class="hidden">
	  <li>Founding Background</li>
	  <li>Goals</li>
	  <li>Members</li>
	  <li>Operational Mechanism</li>
    </ul>
  <li>Contact Us</li>
</ul>
