<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>中加环境与可持续发展中心 | Log In</title>
    <%= stylesheet_link_tag :login %>

</head>

<body>
    <div id="distance"></div>
    <div id="container">

        <div id="top">
            <h1><a href="http://www.wutangsheng.cn/">中加环境与可持续发展中心</a></h1>
        </div>

        <form action="http://www.wutangsheng.cn/admin/login" method="post" accept-charset="utf-8">      <fieldset>
            <legend>Log In</legend>
            <ol>
                <li>

                    <label for="email">E-mail:</label>
                    <span><input type="text" name="email" value=""  /></span>
                </li>
                <li>
                    <label for="password">Password:</label>
                    <span><input type="password" name="password" value=""  /></span>
                </li>
                <li>

                    <div class="float-right">
                        <input type="image" name="submit" src="/application/assets/img/admin/bt-login.gif" />
                    </div>
                </li>
            </ol>
        </fieldset>

        </form> </div>
</body>
</html>
