  <div class="box">
    <h3 class="yellow"><%= t :sidemenu %></h3>

    <div class="box-container">
        <ul class="list-links">
            <li><%= link_to t('add_category'),new_admin_category_path %></li>
            <li><%= link_to t('list_categories'),admin_categories_path %></li>

        </ul>
    </div>
 </div>
